@import "position-lecture-base.css";

/* This is the file we will use to experiment with flexbox */
.container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
/*to hide over flow allows you you ncover a image that changes when clicked or hover over*/

#item-9 {
    position: absolute;
    top: 0px;
    right:-200px;
    height: 100%;
    transition: all ease 0.3s;
}

/*without the transition the drop menu just pops out
 0.3s is the best*/

.container:hover #item-9 {
    right: 0;
}

/*used for mobile menu*/

/*#item-5 {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right:0;*/
/*    z-index: 1;*/
/*}*/

/*.overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background-color: rgba(0, 0,0, 0.8);*/
/*    pointer-events: none;*/
/*    opacity: 0;*/
/*    transition: all ease 0.3s;*/
/*}*/

.thumbnail-wrapper {
    width: 300px;
    aspect-ratio: 4/3;
    border-radius: 10px;
    overflow: hidden;
}

.thumbnail-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.3s;
}

.thumbnail-wrapper:hover img {
    transform: scale(1.2);
}

.thumbnail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1:
    transition: all ease 0.3s;
}

.thumbnail-wrapper:hover .thumbnail-overlay {
    opacity: 1;
}
.thumbnail-overlay img {
    width: 30px
    height  30px;
}

.bg-element {
    position: absolute;
    height: 100px;
    width: 300px;


}


header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #eee;
    border-bottom: 1px solid black
    width:100%
    position: fixed;
    top: 0;
    z-index: 9;
}
