header.container {
    /*border-bottom: 1px solid black;*/
}

/*must insert d-flex in html container to make a it a flexbox*/
/*no resets or layouts in bootstrap*/
/*row is automatically a flex col is not*/
/*make col a d-flex as well*/
/*row only job is to hold columns in bootstrap*/
/*bootstap use col as class*/
/*col take up to 12 if more than 12 it stacks*/
/*col-sm-12 is screen size takes place of media query*/
/*make everything dlexbox by default*/
/*deflex makes it a row left to right*/

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*using custom or inline style up to you biut majority should be */