@import "mastering-flexbox-base.css";


.container {
    display: flex;
    justify-content:start;
    height: 700px;
    align-items: start;
    flex-direction: row-reverse;
    justify-content: start;
    /*gap: 10px;*/
    /*justify-content: space-around;*/
    align-items: ;
    /*align-content: stretch;*/
    /*flex-direction: column;*/

}

/*#item-3 {*/
/*    !*align-self: start;*!*/
/*}*/

/*.item:nth-child(even) {*/
/*    align-self: start;*/
/*}*/
/*     */


/* This is the file we will use to experiment with flexbox */
/*.container {*/
/*   !*height: 700px;*!*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*    !*flex-wrap: wrap;*!*/
/*    !*align-content:;*!*/

/*}*/

/*.item {*/
/*    max-width: 200px;*/
/*}*/

/*
from parent essential
gap is usually one number
display:flex
flex direction
gap
main access justify content
cross access align items

children control

*/

/*.container {*/
/*    height: 700px;*/
/*    display: flex;*/
/*    align-items: start;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    gap: 30px*/
/*}*/

/*.item {*/
/*    max-width: 200px;*/
/*}*/


/*children*/
/*.container {*/
/*    height: 700px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content:center;*/
/*    gap: 10px;*/
/*    align-items: stretch;*/
/*    flex-wrap: wrap;*/
/*    !*align-content:;*!*/
/*}*/

/*.item {*/
/*    !*order: 0;*!*/
/*    !*max-width: 200px;*!*/
/*    !*flex-grow: 1;*!*/
/*    flex: 1 0 auto;*/
/*}*/

/*#item-1 {*/
/*    flex: 1 0 0;*/
/*}*/

/*#item-2 {*/
/*    flex: 0 0 250px;*/
/*}*/
/*using flex bases first number for grow second for shrink third is where it starts*/
/*#item-3 {*/
/*    flex: 0 0 300px;*/
/*}*/

/*#item-4 {*/
/*    flex: 0 0 300px;*/
/*}*/

/*#item-5 {*/
/*    flex: 0 0 300px;*/
/*}*/
/*#item-6 {*/
/*    flex: 0 0 300px;*/
/*}*/
/*#item-7 {*/
/*    flex: 0 0 300px;*/
/*}*/



/*#item-7 {*/
/*    order: -1;*/
/*}*/

/* moves it to the first place by using negatives*/
/*#item-2 {*/
/*    !*max-width: 200px;*!*/
/*    flex-grow: 2;*/
/*}*/



/*#item {*/
/*    height: 200px;*/
/*}*/
/*one of the children are making it that long*/