
body {
    background-color: navy;
    font-weight: bold;
    color: white;
    font-family: "sans-serif";
}
.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

#geoMap {
    padding-left: 100px;
    justify-content: center;
    margin-left: 110px;
    margin-top: 50px;

}

h1 {
    text-align: center;
}

.card {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-right: 40px;
    /*background: none;*/
    width: 100%;
}
