@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-image: url("../img/cloud-background.jpg");
    /*background: #2525b2;*/
    background-size: cover;
    font-weight: bolder;
    color: whitesmoke;
    font-family: 'Playfair Display', serif;

}

ul {
    list-style: none;
    font-size: larger;
    font-weight: bold;
}


#myMap {
    padding-left: 100px;
    justify-content: center;
    margin-left: 130px;
    margin-top: 50px;
    /*border: 5px solid red;*/
    /*margin-left: .5em;*/
    width: 13rem;
    border: solid 5px #d7d7d7;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 5);
    border-radius: 30px;

}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 9em;

}

.card {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-right: 40px;
    width: 97%;
    border: solid 5px #d7d7d7;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 5);
    border-radius: 50px;

}

.card-header {
    font-size: larger;
}

.fa-sun{
    font-size: 50px;
    color: #f1db0a;

}

#map {
    top: 3em;
    bottom: 0;
    height: 500px;
    width: 100%;
    border: solid 2px #d7d7d7;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 5);
    border-radius: 50px;

}

