:root {

}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

img {
    display: block; /* Change display to block */
    max-width: 100%; /* Prevent images from growing wider than parent */
    height: auto; /* Maintain aspect ratio */
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background: white;
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}

a {
    color: inherit;
}
hr {
    display: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, p, blockquote, table, th, td, embed, object {
    padding: 0;
    margin: 0;
}