/*@import "reset.css";*/
/*@import "layout.css";*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*:root {*/
/*    --clr-dark: #07043b;*/
/*    --clr-light: #575988;*/
/*    --clr-secondary: #f65f8;*/
/*    --border-radius: 3px;*/
/*    --clr-white: #C2C2C2;;*/
/*}*/


body {
    font-family: 'Lobster', cursive;
}


/*p {*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/

/*}*/
/* outlines the box*/
/*input[type] {*/
/*    border: 2px solid orangered;*/
/*}*/

/*targets the type= text characters and box only*/
/*input[type="text"] {*/
/*    background-color: #24e579;*/
/*}*/

/*input[type="email"] {*/
/*    background-color: #e66465;*/
/*}*/

/*input[type="button"] {*/
/*    border: 2px solid saddlebrown;*/
/*    border-radius: 100px;*/
/*    background-color: #2F65F8;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    !* cursor pointer changes the symbol that appears when you hover over the click me input*!*/
/*    cursor:pointer;*/
/*}*/

/*attribute starts with and is case sensitive*/
/*p[title^="I"] {*/
/*    color: green;*/
/*}*/

/*attribute ends with */
/*p[title$="dog"] {*/
/*    color: red;*/
/*}*/


/*attribute contains word will style the entire text*/
/*p[title~="slow"] {*/
/*    text-decoration: underline;*/
/*}*/


/* to target input place attribute name in square brackets followed by curly brackets

to target the value do the same thing but insert the value */

/*Combo Selectors*/

/*Select multiple elements by separate by comma*/

/*p, button, h1{*/
/*    color: salmon;*/
/*}*/

/*-------------------------Selecting elements inside elements*/
/*-----------------------Descendent elements uses a space*/
/*this will select all the p elements inside the id outer div. in this case outer-div is the grandparent the inner div is the parent and the p is the child*/
/*when ever using descending no matter how many levels deep always use the outer element first to establish the css style the list the element you want changed*/
/*#outer-div p {*/
/*    color: #2F65F8;*/
/*}*/

/* ------------------Direct descendent uses the greater than > symbol to chose a element directly inside another element use the > symbol*/
/*now im only selecting the p inside the inner div*/

/*#inner-div > p {*/
/*    color: green;*/
/*}*/
/*SELECTS ALL ELEMENTS PLACED IMMEDIATELY AFTER AN ELEMENT*/
/*style all p elements immediately after h3 */
/*syntax reads right to left*/
/*h3 + p{*/
/*    color: #9198e5;*/
/*    text-decoration: underline;*/
/*}*/

/*SELECTS ALL ELEMENTS PLACED IMMEDIATELY BEFORE AN ELEMENT*/
/*now were selecting all h4 elements placed immediately before <p>*/
/* syntax reads right to left*/

/*p ~ h4 {*/
/*    color: #a91128;*/
/*    text-decoration: underline;*/
/*}*/

/*--------------------------------PSEUDO CLASSES uses the colon :*/
/*all pseudo classes use the colon :*/
/*to style the anchor link*/
/*a:link {*/
/*    text-decoration: underline;*/
/*}*/
/*to style the hover*/
/*a:hover {*/
/*    color: orangered;*/
/*}*/
/*to style active link when clicked and held down by mouse*/
/*a:active {*/
/*    color: #33ff57;*/
/*}*/
/*a visited link*/
/*a:visited {*/
/*    !*color: #6c4242;*!*/
/*}*/

/*styling a checkbox only when checked*/
/*input[type="checkbox"]:checked {*/
/*    outline: 10px solid red;*/
/*}*/

/*to disable, must also place the disabled tag on the html input element*/

/*input[type="text"]:disabled {*/
/*    background-color: greenyellow;*/
/*}*/

/* Focus: to change background color when the user focuses on it or clicks on it*/
/*only uses the id name in html and word focus*/
/*#cool:focus {*/
/*    background-color: aqua;*/
/*}*/

/*to target a specific element use Nth child*/
/*p:nth-child(3) {*/
/*    color: darkgreen;*/
/*}*/

/*PSEUDO ELEMENTS use :: and a selector of your choice*/
/*i want to style the first letter of the paragraph*/

/*#paragraph::first-letter {*/
/*    color: lightgreen;*/
/*    font-size: 50px;*/
/*    text-shadow: 1px 1px 3px grey;*/
/*}*/

/*i want to style the first line of the paragraph*/
/*#paragraph::first-line {*/
/*    color: cornflowerblue;*/
/*    font-size: 20px;*/
/*    text-shadow: 1px 1px 3px grey;*/

/*}*/

/*to select a pseudo element on it own use two colons and word selection and it styles the highlighting of th browser*/
/*changes color if i click on scroll over the text*/
/*::selection {*/
/*    color: white;*/
/*    background-color: red;*/
/*}*/
/* selecting class plus elements and placing something immediately after content. must be followed by content "whatever we want to appear after element"*/
/*.plus::after {*/
/*    content: "+";*/
/*}*/
/*placing something before */
/*.plus::before {*/
/*    content: "-";*/
/*}*/

/*cascading style sheets cs style sheet and html reads from top to bottom so newest style overrides the others*/
/*styling will occur bases of where they appear in the html style attribute will take precedence over both inline and external each style will be executed as it comes up*/
/*.cas {*/
/*    color: blue;*/
/*}*/

/*.cas {*/
/*    color: red;*/
/*}*/

/*Specificity and Importance*/
/*selecting the anchor tag*/
/*a {*/
/*    color: #d9bcbc; */
/*}*/
/*!* more specific than just a to select go from outer to inner element*!*/
/*li a {*/
/*    color: forestgreen;*/
/*}*/
/*!*more specific than li a*!*/
/*ul li a {*/
/*    color: #e1e16f;*/
/*}*/

/*when using class and id follow the same order most outer element or class to inner*/
/*the use of the class makes the element more specific*/
/*.ul li a {*/
/*    color: salmon;*/
/*}*/

/*!**!*/
/*ul li a {*/
/*    color: aquamarine;*/
/*}*/

/*!* id element # takes precedence over both class because it can only be one id name*!*/
/*#aa {*/
/*    color: #9198e5;*/
/*}*/

/*given the body and id element and class*/
/*order is ID > Class > Element*/
/*style from outer to inner to be more specific */
/*body {*/
/*    background-color: red;*/
/*}*/
/*.body-class {*/
/*    background-color: blue;*/
/*}*/

/*#body {*/
/*    background-color: #24e579;*/
/*}*/

/*the !important declaration*/
/*allows you to override all specificity and cascading just place word !importance after value*/
/*not recommended to use*/
/*body {*/
/*    background-color: red !important;*/
/*}*/


/*----------------------------------------INHERITANCE*/

/*all files with in container id will be styled*/
/*#container {*/
/*    color: red;*/
/*}*/

/*it only makes sense to inherit font styles and colors not layout like padding and margin*/
/*h1, p {*/
/*    text-align: center;*/
/*    font-size: 20px;*/
/*    color: green;*/
/*}*/
/*set value to inherit from container targeting inherit p*/
/*.inherit {*/
/*    color: inherit;*/
/*}*/

/*initial resets the color to default*/
/*.initial {*/
/*    color: initial;*/
/*}*/
/*UNSET*/
/*if element is naturally inherited its act like inherit otherwise it acts like initial so this class will become red again*/
/*.unset {*/
/*    color: unset;*/
/*}*/

/*REVERT*/
/*IF USER DEFINED STYLE REVERT BACK TO IT OTHERWISE USE DEFAULT STYLING */

/*.revert {*/
/*    color: revert;*/
/*}*/
/*PADDING*/
/*  */
/*p {*/
/*    background-color: red;*/
/*    !*padding-top: 50px;*!*/
/*    !*padding-right: 5px;*!*/
/*    !*padding-left: 20px;*!*/
/*    !*padding-bottom: 5px;*!*/
/*    !*same as above top bottom left right*!*/
/*    !*padding: 50px 20px 3px 10px;*!*/
/*    !*two sets 1: top/bottom 2: left/right*!*/
/*    !*padding: 40px 5px;*!*/
/*    */
/*}*/

/*MARGIN*/
/*PIMO-padding inside margin outside*/
/* remove default margin*/

/*body {*/
/*    margin: 0;*/

/*}*/
/*margin affects the bock level padding does not*/
/*p {*/
/*    background-color: red;*/
/*    !*margin: 20px;*!*/
/*    margin: 30px 100px;*/
/*}*/

/*MARGIN AND PADDING*/
/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*img {*/
/*    width: 200px;*/
/*    !*margin-left: 50px;*!*/
/*    !*margin-bottom: 10px;*!*/
/*    !*display block used to center line items*!*/
/*    display: block;*/
/*    !*the auto gives us equal spacing where used so in this case left/right*!*/
/*    margin: 20px auto;*/
/*}*/

/*style background to each image title by adding id to each title h1*/
/*#goku {*/
/*background-color: #7e7ec9;*/
/*}*/

/*#brolly {*/
/*    background-color: green;*/
/*}*/
/*!*increasing the space inside element on left*!*/
/*h2 {*/
/*    padding-left: 30px;*/
/*    margin-bottom: 50px;*/
/*}*/

/*h2.title {*/

/*}*/

/*p {*/
/*    //border: 2px solid green*/
/*}*/
/*.border-div {*/
/*    background-color: lightgrey;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    margin: 50px;*/
/*    using border*/
/*    border-width: 10px;*/
/*    border-color: red;*/
    /*border wil not show without a style*/
    /*border-style: ridge;*/

/*     could also write as width-style -color*/
/*    border: 10px ridge red;*/
/*    could also designate a separate width, color and style per side just like padding and margin*/
/*    border-width: 10px 5px 2px 1px;*/
/*    border-color: yellow green red blue;*/
/*    border-style: solid ridge dotted dashed;*/
/*    border: 10px solid red;*/
    /*border radius curves the border*/
    /*if width and height exactly the same the border radius 50% will give a perfect circle a*/
    /*border-radius: 50%;*/
    /*//border-radius: 10px;*/
    /*!*only styles the designated corner and cab be used on line*!*/
    /*//border-top-left-radius: 10px;*/
    /*//border-top-right-radius: 30px;*/
    /*//border-bottom-right-radius: 25px;*/
    /*border-radius: 10px 30px 100px  3px;*/
    /*border-right-color: blue;*/
/*}*/

/*BOX MODEL*/
p {
    /*background-color: #9b9bcc;*/
    /*!*block element no longer spans length of page but of content*!*/
    /*display: inline-block;*/
    /*padding: 50px;*/
    /*border: 10px solid limegreen;*/
    /*!*remember margin pushes from area selected from top or left *!*/
    /*margin-top: 50px;*/
    /*margin-left: 50px;*/
}

/*h3 {*/
/*    margin-top: 100px;*/
/*}*/

/*applying width and height to element*/

/*p {*/
/*    border: 2px solid red;*/
/*    display: inline-block;*/
/*    padding: 5px;*/
/*    width: 300px;*/
/*    margin-left: 20px;*/
/*    text-align: center;*/
    /* the total content is 300 width but the total element is 332 300 +padding lr10 border 2 margin left 20*/
/*}*/

/*CSS UNITS ABSOLUTE AND RELATIVE*/

/*absolute are fixed*/
/*relative is based off container or parent element and are fluid*/
/*em relative to container*/
/*% relative to element*/

/*div {*/
/*    height: 10px;*/
/*}*/

/*#absolute {*/
/*    width: 50px;*/
/*    background-color: purple;*/
/*}*/

/*#relative {*/
/*    !*viewport is essentially the screen size full width is 100vw or vh*!*/
/*    !*the relative div is responsive*!*/
/*    !*width: 50vw;*!*/
/*    !*th 50vh and width 50% essentially do the same thing because under same parent element/root element*!*/
/*    width: 50%;*/
/*    background: lightgreen;*/
/*}*/

/*most popular relative units are em rem vh %*/
/* with this example the the new parent element is outer-div which has a fixed value so the relative container % will go off it and is 50px*/
#outer-div {
    width: 100px;
    border:2px solid red;
}


/*1em = 16px as default 2em would be 32px*/
/*p {*/
/*    font-size: 5vw;*/
/*}*/
/*TEXT FORMATTING*/



/*.title {*/
/*    text-align: justify;*/
/*}*/

/*#sentence {*/
/*    !*text align*!*/
/*    text-align: center;*/
/*    text-align: left;*/
/*    text-align: right;*/
/*    text-align: justify;*/

/*    !*TEXT DECORATION*!*/
/*    !*text-decoration: overline wavy red;*!*/
/*    text-decoration: underline wavy green;*/
/*    !*text-decoration: line-through wavy blue;*!*/
/*    !*text-decoration-color: blue;*!*/
/*    !*text-decoration-line: overline;*!*/
/*    !*text-decoration-style: dashed;*!*/

/*!*    TEXT INDENT only the first line*!*/
/*    text-indent: 50px;*/

/*!*    TEXT TRANSFORM*!*/
/*!*    capitalize each word*!*/
/*!*    text-transform: capitalize;*!*/
/*    text-transform: uppercase;*/


/*}*/
/*!*text decoration used mainly when styling links*!*/

/*a {*/
/*    text-decoration: none;*/
/*}*/


/*#paragraph {*/
/*    text-indent: 50px;*/
/*    !*TEXT OVERFLOW*/
/*    --only works if used with overflow: hidden and white-space: nowrap*!*/
/*    !*with this the text no longer wraps*!*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*    border: 5px solid red;*/
/*    background-color: lightgray;*/
/*    !*cuts off the extra*!*/
/*    !*text-overflow: clip;*!*/
/*    !*put 3 periods at end ... *!*/
/*    text-overflow:ellipsis  ;*/
/*}*/

/*h4 {*/
/*    !*TEXT SHADOW*!*/
/*    text-align: center;*/
/*    font-size: 100px;*/
/*    margin-top: 50px;*/
/*    !*require 3 number value and a color 1: far to right, 2: far to bottom, #:blurry 4:color*!*/
/*    text-shadow:2px 2px 5px yellow ;*/
/*    word-spacing: 100px;*/
/*    letter-spacing: 10px;*/

/*CSS FONTS*/
/*serif refers to small line at the end of letters sans serif is without*/
/* do font face name what ever you like*/
@font-face {
    font-family: myfont;
    src: url(Cormorant_Upright/CormorantUpright-Bold.ttf);
}
/*h1 {*/
/*    text-align: center;*/
/*    margin-top: 100px;*/
/*    !*all the other fonts are defaults if one before it does not work*!*/
/*    !*font-family: Arial, monospace, fantasy, sans-serif;*!*/
/*    font-size: 50px;*/
/*    !*FONT WEIGHT DETERMINES THICKNESS*!*/
/*    font-weight: 700;*/
/*    !*one way is to add link to header or to download and add to files*!*/
/*    !*font-family: 'BioRhyme Expanded', serif;*!*/
/*    !*font-family: 'Lobster', cursive;*!*/
/*    font-family: myfont;*/
/*}*/

/*Other ways to implement fonts*/


/*WIDTH HEIGHT BOX-SIZING*/
.title {
    text-align: center;
}

/*width does not effect padding or margin*/
#red {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 5px;
    border: 10px solid black;
    padding: 20px;
    /*includes the padding border to overall size of width and recalculates total size to fit */
    box-sizing: border-box;
}

/*#blue {*/
/*    width: 50%;*/
/*    height: 200px;*/
/*    background-color: blue;*/
/*}*/

/*CSS POSITIONING*/
/*static is default*/

/*.box {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

/*!*static is default*!*/
/*#static {*/
/*    background: red;*/
/*    position: static;*/
/*}*/

/*!*its positioned relative to its self or normal condition*!*/
/*#relative {*/
/*    background:blue;*/
/*    position: relative;*/
/*    left: 200px*/
/*}*/

/*.container-div {*/
/*    border: 5px solid black;*/
/*    width: 300px;*/
/*    height: 200px;*/
/*    position: relative*/
/*}*/
/*!*element removed from normal document flow and responds to te window or nearest container*!*/
/*#absolute {*/
/*    background: yellow;*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    left: 0px;*/
/*    border: 2px solid black;*/
/*}*/
/*!*does not move fro it position even with scroll*!*/
/*#fixed {*/
/*    background: green;*/
/*    position: fixed;*/
/*    top: 500px;*/
/*    left: 500px;*/
/*    z-index: 1;*/
/*}*/

/*!*now the sticky is stacked in front of the fixed element but we can fix this with z-index*!*/
/*!* z-index allows us to reorder and position elements in front or behind*!*/
/*!**!*/
/*#sticky{*/
/*    background: purple;*/
/*    position: sticky;*/
/*    !*now when I scroll the sticky paragraph will be 20 px from the top always*!*/
/*    top: 20px;*/

/*}*/


/*CSS BACKGROUNDS*/

/*.backgrounds{*/
/*    width: 600px;*/
/*    height: 600px;*/
/*    border: 20px dotted black;*/
/*    margin: 50px auto;*/
/*    //background-color: red;*/
/*    !*set background image*!*/
/*    //background-image: url(../images/goku.jpeg);*/
/*    !*display none removes the image and class all together*!*/
/*    !*display: none;*!*/
/*    //background-repeat: no-repeat;*/
/*    !*to get image to span the length of container use contain*!*/
/*    !*this scales the image to be as large as the container*!*/
/*    //background-size:cover;*/
/*    !*background-size: 200px;*!*/
/*!*     background-size: cover scales the background image so the entire container is filled*!*/
/*!*    background-size: cover;*!*/
/*    //background-position: center;*/
/*    !*attachment specifies how we want our background to react to other containers*!*/
/*    //background-attachment:;*/
/*    !*display: none;*!*/
/*    !*background clip applies to where the border will connect *!*/
/*    !*background-clip: border-box;*!*/
/*    !*background-clip: padding-box;*!*/
/*    !*paints in relation to content*!*/
/*    !*background-clip: content-box;*!*/

/*!*    shorthand background property in order 1image 2 position 3 size*!*/
/*    background: url("../images/goku.jpeg") center/cover no-repeat green;*/


/*}*/
/*body {*/
/*    !*now the image is being repeated among the x and y axis*!*/
/*    background-image: url(../images/goku.jpeg);*/
/*!*    can be fixed by using background-repeat*!*/
/*    background-repeat: no-repeat;*/
/*}*/

/*body {*/
/*    background-image: url(../images/goku.jpeg);*/
/*    background-size: 200px;*/
/*    background-repeat: no-repeat;*/
/*    !*how content and image respond to one another with fixed the image stays the same and the content scrolls over it*!*/
/*    background-attachment:fixed;*/
/*}*/

/*DISPLAY*/
/*    block level spans width of page and starts on new line*/

h1, p {
    /*border: 5px solid black*/
}
/*inline takes up as much space as needed*/

/*by default these have a display of inline their width cannot be increased unless using inline block*/
/*span, a, img {*/
/*    border: 5px solid red;*/
/*    !*remove element from page and frees the area they were in*!*/
/*    display: inline;*/
/*    width: 400px;*/
/*    !*removes an element but keeps the space they occupied *!*/
/*    visibility: hidden;*/
/*}*/

#sentence {
    background-color: blue ;
    color: white;
/*    in the sentence if i want to separate th words i would wrap them in a span tag*/
}
/*now after wrapping the word in a span i can style the span and container*
/
 */

/*#sentence span {*/
/*    border: none;*/
/*    color: black;*/
/*    background: yellow;*/
/*    font-size: 40px;*/

/*}*/

/*display on inline*/
/*how to remove an element*/
/*how to hide an element*/

/*Text Shadow*/

#text-shadow {
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
    /*number 1 right 2 down 3 blur 4 color*/
    text-shadow: 7px 4px 10px blue;
}
/*can be used to create an outline can do multiple shadows on one line just separate by comma after each 3 values* goes form top right bottom left.

 */
.title {
    color: lime;
    text-shadow: 0 1px black, 1px 0 black;
    font-size: 50px;
}

/*box shadow property used to add shadow to an element*/

#box-shadow {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 5px 5px 10px red;

}
/*box shadow primarily used on buttons*/

/*button {*/
/*    font-size: 20px;*/
/*    margin: 30px auto;*/
/*    display: block;*/
/*    padding: 5px 15px;*/
/*    border-radius: 5px;*/
/*    background-color: #ababf1;*/
/*    cursor: pointer;*/
/*}*/
/*!*    style the hover*!*/
/* button:hover {*/
/*     box-shadow: 5px 5px 5px #932a93;*/
/*}*/

/*linear gradients*/

/*#grade {*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    border: 5px solid grey;*/
/*    border-radius: 50%;*/
/*    margin: 0 auto;*/
/*    !*must give direction to top or to bottom or degrees *!*/
/*    !* the percentage means the color starts to repeat at that percent*!*/
/*    //background-image: linear-gradient(234deg, red 35%, blue 50%);*/
/*    background-image: linear-gradient(to top, red, blue);*/
/*    //background-image: radial-gradient(yellow 30%, blue 40%);*/
/*!*    radila gradient goes from center outward*!*/
/*    //background-image: radial-gradient(yellow 30%, blue 15%);*/
/*    //background-image: repeating-radial-gradient(farthest-corner at 100px 100px, yellow 30%, blue 40%);*/

/*}*/

/*TRANSFORM PROPERTY*/
/*#transform {*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    border: 5px solid black;*/
/*    //border-radius: 50%;*/
/*    margin: 200px auto;*/
/*    background-color: blue;*/
/*    color: white;*/
/*    transform: rotate(45deg);*/
/*    //transform: scale(1);*/
/*    //transform: skewY(20deg);*/
/*    !*moves down y axis top-bottom*!*/
/*    //transform: translateY(100px);*/
/*!*    for multiple transforms order scalex- skewy- scaley-translatex- translate*!*/
/*    //transform: matrix(2, 1, 1, 2, 70, -100);*/


/*}*/

/*#transform:hover {*/
/*    cursor: pointer;*/
/*    transition: all 2s linear;*/
/*    transform: rotateY(360deg);*/
/*}*/

/*MEDIA QUERIES*/
/*3 screen print */
img {
    display: block;
    text-align: center;
    margin: 50px auto;
    background-repeat: no-repeat;
}

@media print {
    body {
        background-color: white;
        color: black;
    }
}
/*used to specify width*/
/*this means at 320 px and higher execute code*/
/*use min width when going from small to large*/

/*max width is anything less than or equal*/
/*this will specify styling at 319px or less*/
/*@media screen and (max-width: 319px) {*/
/*    p {*/
/*        color: red;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 320px) {*/
/*    h1 {*/
/*        text-align: center;*/
/*        font-size: 25px;*/
/*        text-decoration: underline;*/
/*        color: #2F65F8;*/
/*    }*/
/*    p {*/
/*        font-size: 14px;*/
/*        padding: 0 20px;*/
/*        line-height: 22px;*/
/*    }*/
/*    img {*/
/*        width: 300px;*/
/*    }*/

/*}*/

/*@media screen and (min-width: 500px) {*/
/*    h1 {*/
/*        color: lime;*/
/*    }*/
/*    p {*/
/*        font-size: 15px;*/
/*        padding: 0 40px;*/
/*        line-height: 25px;*/
/*    }*/
/*    img {*/
/*        border: 2px solid black*/
/*    }*/
/*}*/

/*@media screen and (min-width: 600px) {*/
/*    h1 {*/
/*        color: orangered;*/
/*    }*/
/*    p {*/
/*        font-size: 16px;*/
/*        padding: 0 40px;*/
/*        line-height: 28px;*/
/*    }*/
/*    img {*/
/*        border-radius: 50%;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 700px) {*/
/*    h1 {*/
/*        color: fuchsia;*/
/*    }*/
/*    p {*/
/*        font-size: 18px;*/
/*        padding: 0 120px;*/
/*        line-height: 28px;*/
/*    }*/
/*    img {*/
/*        border: 5px dashed red;*/
/*        background-color: white;*/
/*    }*/
/*}*/

/*!*can also target orientation of screen so when in landscape the background will be styled*!*/
/*@media (orientation: landscape) {*/
/*    body {*/
/*        background-image: linear-gradient(to top, yellow, blue);*/
/*    }*/
/*}*/

/*min width is the px size or greater from small to large
/**!*/
/*max width is the px size or less from large to small*/


/*BACKGROUND CLIPS*/


/*h1 {*/
/*    font-family: Raleway, sans-serif;*/
/*    font-weight: 900;*/
/*    font-size: 8em;*/
/*    text-align: center;*/
/*    background-image: url("../images/brolly.jpeg");*/
/*    background-size: cover;*/
/*!*    to clip image to text*!*/
/*    background-clip: text;*/
/*    !*this make hides the clip behind the text but if you change the color to transparent it will show*!*/
/*    -webkit-background-clip: text;*/
/*    color: transparent;*/


/*}*/

/*h2 {*/
/*    font-family: Raleway, sans-serif;*/
/*    font-weight: 900;*/
/*    font-size: 8em;*/
/*    text-align: center;*/
/*    background-image: url("../images/goku.jpeg");*/
/*    background-size: cover;*/
/*    background-clip: text;*/
/*    !*this make hides the clip behind the text but if you change the color to transparent it will show*!*/
/*    -webkit-background-clip: text;*/
/*    color: transparent;*/


/*}*/
/*p {*/
/*    //font-family: Raleway, sans-serif;*/
/*    //font-weight: 600;*/
/*    padding: 20px;*/
/*    font-size: 3.9em;*/
/*    text-align: center;*/
/*    background-image: linear-gradient(to top, yellow, blue);*/
/*    background-size: cover;*/
/*    -webkit-background-clip: text;*/
/*    color: transparent;*/

/*}*/


/*CSS VARIABLES*/


/*declare on root and we can make the change on variable and it changes everything attached*/
/*variables are case sensitive*/
:root {
    --mainColor: blue;
    --gradientBackground: linear-gradient(to top, green, blue);
    --mainFont: arial, san serif;
    --boxshadow: 2px 5px 10px grey;
    --border-radius: 10px;
    /*/can use variables within variables */
    --newcolor: red;
   --newborder: 5px solid var(--newcolor);
    --fallbackvalue: red;
}

/*when using */

/*p {*/
/*    //color: var(--mainColor);*/
/*    background-image: var(--gradientBackground);*/
/*    font-family: var(--mainFont);*/
/*    box-shadow: var(--boxshadow);*/
/*    border-radius: var(--border-radius);*/
/*    !*border: var(--newborder);*!*/
/*    color: var(--fallbackvalue,blue);*/
/*!*    variables are scoped so the variable cant be used in the entire website but only in a container*/
/**!*/

/*}*/


/*FLEXBOX*/
/* the moment you set flex display the the content in side becomes flex items*/
#container2 {
    width: 1000px;
    height: 400px;
    background-color: blue;
    margin: 50px auto;
    border-radius: 8px;
    font-size: 50px;
    display: flex;
    //gap: 30px;
    //flex-direction: row;
    //padding: 20px;
    text-align: center;
    //flex-wrap: wrap;
    /*short hand for flex direction and flex wrap */
    //flex-flow: row wrap;
    justify-content: start;
    align-items: start;
/*    align content serves no purpose with one line needs two or more*/
    align-content: start;
}

/*flex item properties*/
/*/order largest order is pushed further towards the ends*/


.item-one {
    border: 2px solid black;
    width: 150px;
    height: 80px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 2px 5px black;
    border-radius: 8px;
    color:#000000;
    font-size: 1em;
    background-color: #33ff57;
    font-weight: bold;
    cursor: pointer;
    //order: 1;
    //flex-grow: 1;
    //flex-shrink: 2;
    /*is the size of item if width is not specified then it would be size of content*/
    /*flex basis is limited by max-width and minwidth but is useful because it can keep content from overflowing container if used with flex shrink*/

    //flex-basis: 200px;
    //max-width: 50px;
    //min-width: 500px;
    //flex-shrink: 3;
    /*flex shorthand grow shrink auto*/
    flex: 1 0 200px;





}
.item-two {
    border: 2px solid black;
    width: 150px;
    height: 80px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 2px 5px black;
    border-radius: 8px;
    color:#000000;
    font-size: 1em;
    background-color: #33ff57;
    //order: -1;
    flex: 1 0 200px;
}
.item-three {
    border: 2px solid black;
    width: 150px;
    height: 80px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 2px 5px black;
    border-radius: 8px;
    color:#000000;
    font-size: 1em;
    background-color: #33ff57;
    //order: 3;
    flex: 1 0 200px;
    align-self: end;

}
.item-four {
    border: 2px solid black;
    width: 150px;
    height: 80px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 2px 5px black;
    border-radius: 8px;
    color:#000000;
    font-size: 1em;
    background-color: #33ff57;
    //order: 7;
    flex: 1 0 200px;

}
.item-five {
    border: 2px solid black;
    width: 150px;
    height: 80px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 2px 5px black;
    border-radius: 8px;
    color:#000000;
    font-size: 1em;
    background-color: #33ff57;
}
.item-six {
    border: 2px solid black;
    width: 150px;
    height: 80px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 2px 5px black;
    border-radius: 8px;
    color:#000000;
    font-size: 1em;
    background-color: #33ff57;
}
.item-seven {
    border: 2px solid black;
    width: 150px;
    height: 80px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 2px 5px black;
    border-radius: 8px;
    color:#000000;
    font-size: 1em;
    background-color: #33ff57;
}
.item-eight {
    border: 2px solid black;
    width: 150px;
    height: 80px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 2px 5px black;
    border-radius: 8px;
    color:#000000;
    font-size: 1em;
    background-color: #33ff57;
}
.item-nine {
    border: 2px solid black;
    width: 150px;
    height: 80px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 2px 5px black;
    border-radius: 8px;
    color:#000000;
    font-size: 1em;
    background-color: #33ff57;
}