@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

:root {
    --clr-redorange: #E6563B;
    --clr-orange: #EB9D3A;
    --clr-green: #7CB06C;
    --clr-blue: #00ABA9;
    --clr-light-grey: #F0F0F0;
    --clr-dark-grey: #E6E6E6;

}
body {
    font-family: 'Abel', sans-serif;
    font-family: 'Anton', sans-serif;
    background-color: var(--clr-light-grey);
}

header {
    font-family: 'Abel', sans-serif;
}

.logo {
    font-size:40px;
}

.list-items {
    list-style: none;
    width: 130px;
    height: 130px;
    border: 10px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.li1 {
    border: 10px solid white;
    border-radius: 50%;
    background-color: var(--clr-redorange);
    box-shadow: black;
    color: white;
}
.li2 {
    border: 10px solid white;
    border-radius: 50%;
    background-color: var(--clr-orange);
    box-shadow: black;
    color: white;
}

.li3 {
    border: 10px solid white;
    border-radius: 50%;
    background-color: var(--clr-green);
    box-shadow: black;
    color: white;
}

.li4 {
    border: 10px solid white;
    border-radius: 50%;
    background-color: var(--clr-blue);
    box-shadow: black;
    color: white;
}
