@import "resets.css";
@import "layout.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-dark: #07043b;
    --clr-light: #575988;
    --clr-secondary: #f65f8;
    --border-radius: 3.13px;
    --clr-white: #C2C2C2;;
}
body {
    font-family: Raleway, sans-serif;
    color: #07043b;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration-color: unset;
    transition: all ease 0.3s
}

nav a:hover {
    color: #07043B;
}

.container.hero {
    min-height: 50vh;
}

h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
}

p {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Open Sans, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.531px;
}

label {
    display: block;
}

input {
    width: 100%;
    min-height: 45px;
    border: 1px solid #07043b;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    border-radius: 3.13px;
    padding-left: 21px;
}

input::placeholder {
    color: var(--clr-white);

}

button {
    border: none;
    border-radius: 3.13px;
    background-color: #2F65F8;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 30px;
    filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
}

button.single-submit {
    flex: 0 1 200px;
}

img {
    display: block; /* Change display to block */
    max-width: 100%; /* Prevent images from growing wider than parent */
    height: auto; /* Maintain aspect ratio */
}

.hero-img {
    margin-left: 50px;

}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/*@media (max-width: 1536px) {*/
/*    .container {*/
/*        max-width: 1280px;*/
/*    }*/
/*}*/

/*@media (max-width: 1280px) {*/
/*    .container {*/
/*        max-width: 1042px;*/
/*    }*/
/*}*/
/*@media (max-width: 1042px) {*/
/*    .container {*/
/*        max-width: 768px;*/
/*    }*/
/*}*/
/*@media (max-width: 768px) {*/
/*    .container {*/
/*        max-width: 640px;*/
/*    }*/
/*}*/
/*@media (max-width: 640px) {*/
/*    .container {*/
/*        max-width: 475px;*/
/*    }*/
/*}*/
/*@media (max-width: 475px) {*/
/*    .container {*/
/*        width: 100%;*/
/*    }*/
/*}*/



/*test*/
/*.container {*/
/*    border: 30px solid black;*/
/*}*/
/*.row {*/
/*    border: 20px solid red;*/
/*}*/
/*.column {*/
/*    border: 5px solid green;*/
/*}*/
/*a {*/
/*    color: inherit;*/
/*    text-decoration: unset;*/
/*}*/